venv/*
__pycache__/*
Card_Rank_Images/*
Card_Suit_Images/*
Single_Card_Images/*
Card_Suit_Templates/*
Card_Info_Temp/*
Card_Info_Temp_1080p/*
Card_Info_Images/*
_test_work_*
Card_Match_Result.log
dist/*
build/*
upx.exe
nuitka-crash-report.xml
build.py
71.0.0
fspacker.config.py
Freecell_Layout_1.png
Freecell_Layout_2.png
